
* {
  font-family: 'Roboto', sans-serif;
}
.topbar{
  background-color: #00B0FF;
  color: #fff;
  padding: 6px 0px 7px 0px;
}
body{
  background-color: #F6F9FC;
}
.theHeader{
  padding-top: 10px;;
}
.sale{
  position: absolute;
  top: 0;
  left: 0;
  background: #bf0000;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;

}