* {
  font-family: "Roboto", sans-serif;
}
.topbar {
  background-color: #00b0ff;
  color: #fff;
  padding: 6px 0px 7px 0px;
}
body {
  background-color: #f6f9fc;
}
.theHeader {
  padding-top: 10px;
}
.sale {
  position: absolute;
  top: 0;
  left: 0;
  background: #bf0000;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
}
.MuiListItemButton-root.active {
  color: #00b0ff;
}
p.price {
  font-size: 18px;
}
